<section class="about">
  <div class="about__container container">
    <div class="about__picture">
      <img class="about__image about__image-first" src="img/about-image1.png" alt="">
      <img class="about__image about__image-second" src="img/about-iamge2.png" alt="">
      <button class="btn-reset modal__btn" data-graph-path="modal"></button>
    </div>
    <div class="about__box">
      <span class="about__descr">о&nbsp;нашем походе</span>
      <h2 class="about__title">Исследуйте все горные массивы мира вместе с&nbsp;нами</h2>
      <p class="about__text">Его корни уходят в&nbsp;один фрагмент классической латыни 45&nbsp;года н.э., то&nbsp;есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из&nbsp;колледжа Hampden-Sydney, штат Вирджиния, взял одно из&nbsp;самых странных слов в&nbsp;Lorem Ipsum, &quot;consectetur&quot;и занялся его поисками в&nbsp;классической латинской литературе.</p>
      <button class="about__btn btn-reset">Программа тура</button>
    </div>
  </div>

  <div class="graph-modal graph-modal__vidio">
    <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="modal">
      <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"><img class="modal__image" src="img/modal-close.svg" alt=""></button>
      <div class="graph-modal__content">
        <iframe width="1280" height="720" src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="Rick Astley - Never Gonna Give You Up (Official Music Video)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>

