<section class="blog">
  <div class="blog__container container">
    <span class="blog__text">делимся впечатлениями</span>
    <h2 class="blog__title">Блог о&nbsp;путешествиях</h2>

    <ul class="blog-list list-reset">
      <li class="blog-list__item">
        <img class="blog-list__image" src="img/blog-image1.png" alt="">
        <div class="blog-list__content">
          <p class="blog-list__title">Красивая Италя, какая она в&nbsp;реальности?</p>
          <p class="blog-list__descr">Для современного мира базовый вектор развития предполагает независимые способы реализации соответствующих условий активизации.</p>
          <div class="blog-list-about">
            <span class="blog-list-about__date">01/04/2023</span>
            <span class="blog-list-about__text">читать статью</span>
          </div>
        </div>
      </li>

      <li class="blog-list__item">
        <img class="blog-list__image" src="img/blog-image2.png" alt="">
        <div class="blog-list__content">
          <p class="blog-list__title">Долой сомнения! Весь мир открыт для вас!</p>
          <p class="blog-list__descr">Для современного мира базовый вектор развития предполагает независимые способы реализации соответствующих условий активизации ... независимые способы реализации соответствующих</p>
          <div class="blog-list-about">
            <span class="blog-list-about__date">01/04/2023</span>
            <span class="blog-list-about__text">читать статью</span>
          </div>
        </div>
      </li>

      <li class="blog-list__item">
        <img class="blog-list__image" src="img/blog-image3.png" alt="">
        <div class="blog-list__content">
          <p class="blog-list__title">Как подготовиться к&nbsp;путешествию в&nbsp;одиночку?</p>
          <p class="blog-list__descr">Для современного мира базовый вектор развития предполагает.</p>
          <div class="blog-list-about">
            <span class="blog-list-about__date">01/04/2023</span>
            <span class="blog-list-about__text">читать статью</span>
          </div>
        </div>
      </li>

      <li class="blog-list__item">
        <img class="blog-list__image" src="img/blog-image4.png" alt="">
        <div class="blog-list__content">
          <p class="blog-list__title">Индия ... летим?</p>
          <p class="blog-list__descr">Для современного мира базовый.</p>
          <div class="blog-list-about">
            <span class="blog-list-about__date">01/04/2023</span>
            <span class="blog-list-about__text">читать статью</span>
          </div>
        </div>
      </li>
    </ul>

    <div class="swiper blog-swiper">
      <div class="swiper-wrapper blog-swiper-wrapper">
        <div class="swiper-slide">
          <div class="blog-list__item">
            <img class="blog-list__image" src="img/blog-image1_2x.png" alt="">
            <div class="blog-list__content">
              <p class="blog-list__title">Красивая Италя, какая она в&nbsp;реальности?</p>
              <p class="blog-list__descr">Для современного мира базовый вектор развития предполагает независимые способы реализации соответствующих условий активизации.</p>
              <div class="blog-list-about">
                <span class="blog-list-about__date">01/04/2023</span>
                <span class="blog-list-about__text">читать статью</span>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="blog-list__item">
            <img class="blog-list__image" src="img/blog-image2_2x.png" alt="">
            <div class="blog-list__content">
              <p class="blog-list__title">Долой сомнения! Весь мир открыт для вас!</p>
              <p class="blog-list__descr">Для современного мира базовый вектор развития предполагает независимые способы реализации соответствующих условий активизации ... независимые способы реализации соответствующих</p>
              <div class="blog-list-about">
                <span class="blog-list-about__date">01/04/2023</span>
                <span class="blog-list-about__text">читать статью</span>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="blog-list__item">
            <img class="blog-list__image" src="img/blog-image3_2x.png" alt="">
            <div class="blog-list__content">
              <p class="blog-list__title">Как подготовиться к&nbsp;путешествию в&nbsp;одиночку?</p>
              <p class="blog-list__descr">Для современного мира базовый вектор развития предполагает.</p>
              <div class="blog-list-about">
                <span class="blog-list-about__date">01/04/2023</span>
                <span class="blog-list-about__text">читать статью</span>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="blog-list__item">
            <img class="blog-list__image" src="img/blog-image4_2x.png" alt="">
            <div class="blog-list__content">
              <p class="blog-list__title">Индия ... летим?</p>
              <p class="blog-list__descr">Для современного мира базовый.</p>
              <div class="blog-list-about">
                <span class="blog-list-about__date">01/04/2023</span>
                <span class="blog-list-about__text">читать статью</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="blog__btn">Другие материалы</button>
  </div>
</section>
