<section class="directions">
  <div class="directions__container container">
    <span class="directions__text">по&nbsp;версии отдыхающих</span>
    <h2 class="directions__title">Популярные направления</h2>
    <ul class="directions-list list-reset">
      <li class="directions-list__item">
        <img class="directions-list__img" src="img/directions-image1.png" alt="">
        <div class="directions-star">
          <img class="directions-star__img" src="img/directions-star.svg" alt="">
          <span class="directions-star__text">4.9</span>
        </div>
        <div class="directions-list-content">
          <div class="directions-list-heading">
            <div class="directions-list-heading__wrapper">
              <h2 class="directions-list-heading__title">Озеро возле гор</h2>
              <span class="directions-list-heading__text">романтическое приключение</span>
            </div>
            <div class="directions-list-heading__sale"><span class="directions-list-heading__price">480&nbsp;$</span></div>
          </div>
          <div class="directions-list-content__wrapper">
            <p class="directions-list-content__text">Его корни уходят в&nbsp;один фрагмент классической латыни 45&nbsp;года н.э., то&nbsp;есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из&nbsp;колледжа Hampden-Sydney, штат Вирджиния, взял одно из&nbsp;самых странных слов в&nbsp;Lorem Ipsum, &quot;consectetur&quot;и занялся его поисками в&nbsp;классической латинской литературе.</p>
            <button class="directions-list-content__btn btn-reset">Программа тура</button>
          </div>
        </div>
      </li>

      <li class="directions-list__item">
        <img class="directions-list__img" src="img/directions-image2.png" alt="">
        <div class="directions-star">
          <img class="directions-star__img" src="img/directions-star.svg" alt="">
          <span class="directions-star__text">4.5</span>
        </div>
        <div class="directions-list-content">
          <div class="directions-list-heading">
            <div class="directions-list-heading__wrapper">
              <h2 class="directions-list-heading__title">Ночь в горах</h2>
              <span class="directions-list-heading__text">в компании друзей</span>
            </div>
            <div class="directions-list-heading__sale"><span class="directions-list-heading__price">500&nbsp;$</span></div>
          </div>
          <div class="directions-list-content__wrapper">
            <p class="directions-list-content__text">Его корни уходят в&nbsp;один фрагмент классической латыни 45&nbsp;года н.э., то&nbsp;есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из&nbsp;колледжа Hampden-Sydney, штат Вирджиния, взял одно из&nbsp;самых странных слов в&nbsp;Lorem Ipsum, &quot;consectetur&quot;и занялся его поисками в&nbsp;классической латинской литературе.</p>
            <button class="directions-list-content__btn btn-reset">Программа тура</button>
          </div>
        </div>
      </li>

      <li class="directions-list__item">
        <img class="directions-list__img" src="img/directions-image3.png" alt="">
        <div class="directions-star">
          <img class="directions-star__img" src="img/directions-star.svg" alt="">
          <span class="directions-star__text">5.0</span>
        </div>
        <div class="directions-list-content">
          <div class="directions-list-heading">
            <div class="directions-list-heading__wrapper">
              <h2 class="directions-list-heading__title">Йога в горах</h2>
              <span class="directions-list-heading__text">Йога в горах</span>
            </div>
            <div class="directions-list-heading__sale"><span class="directions-list-heading__price">230&nbsp;$</span></div>
          </div>
          <div class="directions-list-content__wrapper">
            <p class="directions-list-content__text">Его корни уходят в&nbsp;один фрагмент классической латыни 45&nbsp;года н.э., то&nbsp;есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из&nbsp;колледжа Hampden-Sydney, штат Вирджиния, взял одно из&nbsp;самых странных слов в&nbsp;Lorem Ipsum, &quot;consectetur&quot;и занялся его поисками в&nbsp;классической латинской литературе.</p>
            <button class="directions-list-content__btn btn-reset">Программа тура</button>
          </div>
        </div>
      </li>
    </ul>

    <div class="swiper directions-swiper">
      <div class="swiper-wrapper directions-swiper-wrapper">
        <div class="swiper-slide">
          <div class="directions-list__item" id="directions1">
            <img class="directions-list__img" src="img/directions-image1.png" alt="">
            <div class="directions-star">
              <img class="directions-star__img" src="img/directions-star.svg" alt="">
              <span class="directions-star__text">4.9</span>
            </div>
            <div class="directions-list-content">
              <div class="directions-list-heading">
                <div class="directions-list-heading__wrapper">
                  <h2 class="directions-list-heading__title">Озеро возле гор</h2>
                  <span class="directions-list-heading__text">романтическое приключение</span>
                </div>
                <div class="directions-list-heading__sale"><span class="directions-list-heading__price">480&nbsp;$</span></div>
              </div>
              <div class="directions-list-content__wrapper">
                <p class="directions-list-content__text">Его корни уходят в&nbsp;один фрагмент классической латыни 45&nbsp;года н.э., то&nbsp;есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из&nbsp;колледжа Hampden-Sydney, штат Вирджиния, взял одно из&nbsp;самых странных слов в&nbsp;Lorem Ipsum, &quot;consectetur&quot;и занялся его поисками в&nbsp;классической латинской литературе.</p>
                <button class="directions-list-content__btn btn-reset">Программа тура</button>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="directions-list__item" id="directions2">
            <img class="directions-list__img" src="img/directions-image2.png" alt="">
            <div class="directions-star">
              <img class="directions-star__img" src="img/directions-star.svg" alt="">
              <span class="directions-star__text">4.5</span>
            </div>
            <div class="directions-list-content">
              <div class="directions-list-heading">
                <div class="directions-list-heading__wrapper">
                  <h2 class="directions-list-heading__title">Ночь в горах</h2>
                  <span class="directions-list-heading__text">в компании друзей</span>
                </div>
                <div class="directions-list-heading__sale"><span class="directions-list-heading__price">500&nbsp;$</span></div>
              </div>
              <div class="directions-list-content__wrapper">
                <p class="directions-list-content__text">Его корни уходят в&nbsp;один фрагмент классической латыни 45&nbsp;года н.э., то&nbsp;есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из&nbsp;колледжа Hampden-Sydney, штат Вирджиния, взял одно из&nbsp;самых странных слов в&nbsp;Lorem Ipsum, &quot;consectetur&quot;и занялся его поисками в&nbsp;классической латинской литературе.</p>
                <button class="directions-list-content__btn btn-reset">Программа тура</button>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="directions-list__item" id="directions3">
            <img class="directions-list__img" src="img/directions-image3.png" alt="">
            <div class="directions-star">
              <img class="directions-star__img" src="img/directions-star.svg" alt="">
              <span class="directions-star__text">5.0</span>
            </div>
            <div class="directions-list-content">
              <div class="directions-list-heading">
                <div class="directions-list-heading__wrapper">
                  <h2 class="directions-list-heading__title">Йога в горах</h2>
                  <span class="directions-list-heading__text">Йога в горах</span>
                </div>
                <div class="directions-list-heading__sale"><span class="directions-list-heading__price">230&nbsp;$</span></div>
              </div>
              <div class="directions-list-content__wrapper">
                <p class="directions-list-content__text">Его корни уходят в&nbsp;один фрагмент классической латыни 45&nbsp;года н.э., то&nbsp;есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из&nbsp;колледжа Hampden-Sydney, штат Вирджиния, взял одно из&nbsp;самых странных слов в&nbsp;Lorem Ipsum, &quot;consectetur&quot;и занялся его поисками в&nbsp;классической латинской литературе.</p>
                <button class="directions-list-content__btn btn-reset">Программа тура</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button class="directions__btn btn-reset">Рейтинг направлений</button>
  </div>
</section>
