<footer class="footer">
  <div class="footer__container container">

    <div class="footer-bottom">
      <div class="footer-bottom-about">
        <span class="footer-bottom__title">Компания &laquo;РумТибет&raquo;</span>
        <p class="footer-bottom-about__descr">Его корни уходят в&nbsp;один фрагмент классической латыни 45&nbsp;года н.э., то&nbsp;есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из&nbsp;колледжа Hampden-Sydney.</p>

        <div class="footer-bottom-bond">
          <span class="footer-bottom-bond__text">info@domain.com</span>
          <span class="footer-bottom-bond__text">+7 (123) 456-78-90</span>
        </div>

        <ul class="footer-bottom-social-list list-reset">
          <li class="footer-bottom-social-list__item"><a class="footer-bottom-social-list__link link-reset" href=""><img class="footer-bottom-social-list__image" src="img/telegramm-logo.svg" alt=""></a></li>
          <li class="footer-bottom-social-list__item"><a class="footer-bottom-social-list__link link-reset" href=""><img class="footer-bottom-social-list__image" src="img/vk-logo.svg" alt=""></a></li>
          <li class="footer-bottom-social-list__item"><a class="footer-bottom-social-list__link link-reset" href=""><img class="footer-bottom-social-list__image" src="img/pinterest-logo.svg" alt=""></a></li>
          <li class="footer-bottom-social-list__item"><a class="footer-bottom-social-list__link link-reset" href=""><img class="footer-bottom-social-list__image" src="img/skype-logo.svg" alt=""></a></li>
        </ul>
      </div>
      <div class="footer-bottom-service">
        <span class="footer-bottom__title">Наши услуги</span>
        <ul class="footer-bottom-list list-reset">
          <li class="footer-bottom-list__item">
            <a class="footer-bottom-list__text link-reset">Прогулки в&nbsp;горы летом</a>
          </li>

          <li class="footer-bottom-list__item">
            <a class="footer-bottom-list__text link-reset">Зимние походы в&nbsp;горы</a>
          </li>

          <li class="footer-bottom-list__item">
            <a class="footer-bottom-list__text link-reset">Посещение храмов в&nbsp;горах</a>
          </li>

          <li class="footer-bottom-list__item">
            <a class="footer-bottom-list__text link-reset">Экстремальные виды туризма</a>
          </li>

          <li class="footer-bottom-list__item">
            <a class="footer-bottom-list__text link-reset">Походы в&nbsp;джунглях Амазонии</a>
          </li>

          <li class="footer-bottom-list__item">
            <a class="footer-bottom-list__text link-reset">Поездка в&nbsp;Африку</a>
          </li>
        </ul>
      </div>
      <div class="footer-bottom-tall">
        <span class="footer-bottom__title">Важно для путешествий</span>
        <ul class="footer-bottom-list list-reset">
          <li class="footer-bottom-list__item">
            <a class="footer-bottom-list__text">Как собрать в&nbsp;долгий поход?</a>
          </li>

          <li class="footer-bottom-list__item">
            <a class="footer-bottom-list__text">Жизненно важные предметы для похода</a>
          </li>

          <li class="footer-bottom-list__item">
            <a class="footer-bottom-list__text">Медицинская страховка, гарантии безопасности</a>
          </li>

          <li class="footer-bottom-list__item">
            <a class="footer-bottom-list__text">Если вы&nbsp;врач&nbsp;&mdash; загляните сюда</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-cellar">
    <div class="footer-cellar__container container">
      <p class="footer-cellar__info">ИП&nbsp;Константинопольский К.К., 2023</p>
      <a class="footer-cellar__policy link-reset">Политика обработки персональных данных</a>
    </div>
  </div>
</footer>
