<div class="hero">
  <div class="hero__conatiner container">
    <h1 class="hero__title">Насладись прогулкой в&nbsp;горах с&nbsp;командой единомышленников</h1>
    <div class="hero-search">
      <ul class="hero-search__list list-reset">
        <li class="hero-search__item">
          <select class="hero-search__select" name="" id="select1">
            <option class="hero-search__option" value="">Локация для тура</option>
            <option class="hero-search__option" value="">Локация 1</option>
            <option class="hero-search__option" value="">Локация 2</option>
            <option class="hero-search__option" value="">Локация 3</option>
          </select>

          <span class="hero-search__text">выберите из&nbsp;списка</span>
        </li>
        <li class="hero-search__item">
          <input class="hero-search__input" type="date" name="" id="">
          <span class="hero-search__text">укажите диапазон</span>
        </li>
        <li class="hero-search__item">
          <select class="hero-search__select" name="" id="select2">
            <option class="hero-search__option" value="">Участники</option>
            <option class="hero-search__option" value="">4</option>
            <option class="hero-search__option" value="">5</option>
            <option class="hero-search__option" value="">6</option>
          </select>

          <span class="hero-search__text">минимум 4&nbsp;человека</span>
        </li>
      </ul>

      <button class="hero-search__btn btn-reset">Найти программу</button>
    </div>
  </div>
</div>
