<section class="photos">
  <div class="photos__container container">
    <span class="photos__text">фото-отчет</span>
    <p class="photos__title">Делимся впечатлениями</p>

    <div class="photos__content">
      <ul class="photos__list list-reset">
        <li class="photos__item">
          <a class="photos__gallery-link"  href="img/photos-1__2x.png" data-fancybox="gallery">
            <img class="photos__image" src="img/photos-1.png" alt="">
            <button class="photos__btn btn-reset"></button>
          </a>
        </li>

        <li class="photos__item">
          <a class="photos__gallery-link"  href="img/photos-2__2x.png" data-fancybox="gallery">
            <img class="photos__image" src="img/photos-2.png" alt="">
            <button class="photos__btn btn-reset"></button>
          </a>
        </li>

        <li class="photos__item">
          <a class="photos__gallery-link"  href="img/photos-3__2x.png" data-fancybox="gallery">
            <img class="photos__image" src="img/photos-3.png" alt="">
            <button class="photos__btn btn-reset"></button>
          </a>
        </li>

        <li class="photos__item">
          <a class="photos__gallery-link"  href="img/photos-4__2x.png" data-fancybox="gallery">
            <img class="photos__image" src="img/photos-4.png" alt="">
            <button class="photos__btn btn-reset"></button>
          </a>
        </li>

        <li class="photos__item">
          <a class="photos__gallery-link"  href="img/photos-5__2x.png" data-fancybox="gallery">
            <img class="photos__image" src="img/photos-5.png" alt="">
            <button class="photos__btn btn-reset"></button>
          </a>
        </li>

        <li class="photos__item">
          <a class="photos__gallery-link"  href="img/photos-6__2x.png" data-fancybox="gallery">
            <img class="photos__image" src="img/photos-6.png" alt="">
            <button class="photos__btn btn-reset"></button>
          </a>
        </li>
      </ul>


      <div class="swiper photos-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide photos-slide">
            <a class="photos__gallery-link"  href="img/photos-1_mobile.png" data-fancybox="gallery">
              <img class="photos__image" src="img/photos-1_mobile.png" alt="">
              <button class="photos__btn btn-reset"></button>
            </a>
          </div>
          <div class="swiper-slide photos-slide">
            <a class="photos__gallery-link"  href="img/photos-2_mobile.png" data-fancybox="gallery">
              <img class="photos__image" src="img/photos-2_mobile.png" alt="">
              <button class="photos__btn btn-reset"></button>
            </a>
          </div>
          <div class="swiper-slide photos-slide">
            <a class="photos__gallery-link"  href="img/photos-3_mobile.png" data-fancybox="gallery">
              <img class="photos__image" src="img/photos-3_mobile.png" alt="">
              <button class="photos__btn btn-reset"></button>
            </a>
          </div>
          <div class="swiper-slide photos-slide">
            <a class="photos__gallery-link"  href="img/photos-4_mobile.png" data-fancybox="gallery">
              <img class="photos__image" src="img/photos-4_mobile.png" alt="">
              <button class="photos__btn btn-reset"></button>
            </a>
          </div>
          <div class="swiper-slide photos-slide">
            <a class="photos__gallery-link"  href="img/photos-5_mobile.png" data-fancybox="gallery">
              <img class="photos__image" src="img/photos-5_mobile.png" alt="">
              <button class="photos__btn btn-reset"></button>
            </a>
          </div>
          <div class="swiper-slide photos-slide">
            <a class="photos__gallery-link"  href="img/photos-6_mobile.png" data-fancybox="gallery">
              <img class="photos__image" src="img/photos-6_mobile.png" alt="">
              <button class="photos__btn btn-reset"></button>
            </a>
          </div>
        </div>
      </div>


      <a class="photos__link" href="#">Наш pinterest</a>
    </div>

    <div class="mailings">
      <div class="mailings-left">
        <span class="mailings-left__text">актуально</span>
        <p class="mailings-left__title">Получайте полезные рассылки о&nbsp;путешествиях</p>
      </div>
      <div class="mailings-right">
        <span class="mailings-right__text">Введите e-mail адрес</span>
        <div class="mailings-form">
          <input class="mailings-form__input input-reset" type="email" name="" placeholder="name@domain.com" id="">
          <button class="mailings-form__btn btn-reset">Подписаться на новости</button>
        </div>
        <p class="mailings-right__descr">подписываясь на&nbsp;новости, вы&nbsp;автоматически соглашаетесь с&nbsp; <span class="footer-top-right__descr__border">условиями обработки персональных данных</span> и&nbsp; <span class="footer-top-right__descr__border">правилами рекламных рассылок</span></p>
      </div>
    </div>
  </div>
</section>
