<section class="programms">
  <div class="programms__container container">
    <div class="programms__box">
      <span class="programms__text">наше предложение</span>
      <h2 class="programms__title">Лучшие программы для тебя</h2>
      <p class="programms__descr">Его корни уходят в&nbsp;один фрагмент классической латыни 45&nbsp;года н.э., то&nbsp;есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из&nbsp;колледжа.</p>
      <ul class="programms-list list-reset">
        <li class="programms-list__item programms-list__item--first">
          <h3 class="programms-list__title">Опытный гид</h3>
          <p class="programms-list__descr">Для современного мира базовый вектор развития предполагает независимые способы реализации соответствующих условий активизации.</p>
        </li>
        <li class="programms-list__item programms-list__item--second">
          <h3 class="programms-list__title">Безопасный поход</h3>
          <p class="programms-list__descr">Для современного мира базовый вектор развития предполагает независимые способы реализации соответствующих условий активизации.</p>
        </li>
        <li class="programms-list__item programms-list__item--three">
          <h3 class="programms-list__title">Лояльные цены</h3>
          <p class="programms-list__descr">Для современного мира базовый вектор развития предполагает независимые способы реализации соответствующих условий активизации.</p>
        </li>
      </ul>
      <button class="programms__btn btn-reset">Стоимость программ</button>
    </div>
  </div>
</section>
